<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登録フォーム</title>
</head>
<body>
 
<h2>新規</h2>
<form th:action="@{/signup/regist}"th:object="${userDetailFrom}"method="post">
 
 <label for="userName"> userName </label>
 <input id="userName" name="userName" th:field="*{userName}" />
 
 <label for="email">登録するメールアドレス</label>
 <input id="email" name="email" th:field="*{email}"  />
 
 <label for="password">パスワード</label>
 <input id="password" name="password" th:field="*{password}" />
 
 <input type="submit" value="送信">

</form>

</body>
</html>